body{
    background-color: white;
    
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.app{
    min-height: 100vh;
}

footer{
    width: 100%;
    height: 200px;
    background-color: #1f262e;;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    margin: 0;
}


button{
    cursor: pointer;
}

.errors-container{
    box-sizing: border-box;
    width: 350px;
    height: 100px;
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        rgb(235, 179, 58), 
        rgba(0, 0, 0, 0)
      ) 1 100%;
    padding-left: 70px;
    padding-right: 10px;
    p{
        font-size: 12px;
        margin: 5px 0;
    }
    img {
        position: absolute;
        transform: translate(-55px, 10px);
        width: 40px;
        height: 40px;
    }
    .error-el{
        font-size: 16px;
        color: rgb(230, 163, 39)
    }
}

.empty-errors-container{
    width: 300px;
    height: 150px;
}

.text-link{
    text-decoration: none;
    color: blue;
    font-weight: 300;
    font-size: 12px;
    &:hover{
        color: darkblue;
        text-decoration: underline;
    }
}

.form-button{
    background: #f0c14b;
    border: 1px solid #a88835;
    background: linear-gradient(180deg, rgb(236, 214, 158) 0%, rgb(247, 212, 125) 35%, rgb(236, 186, 58) 100%);
    border-radius: 2px;
    margin-top: 15px;
    width: 95.5%;
    height: 32px;
    transition: background-image 0.3s;
    &:hover{
        background: linear-gradient(180deg, rgb(231, 201, 126) 0%, rgb(236, 199, 105) 35%, rgb(238, 182, 42) 100%);
    }
    &:focus{
        background: linear-gradient(180deg, rgb(231, 201, 126) 0%, rgb(236, 199, 105) 35%, rgb(238, 182, 42) 100%);
        outline:rgb(145, 104, 0);
    }
}

.qty-select-container {
    p{
        position: absolute;
        font-size: 14px;
        transform: translate(5px, -13px)
    }
    select{
        width: 70px;
        height: 20px;
        text-align-last: right;
        outline: none;
        border: 1px solid lightgray;
        font-weight: 700;
        background-color: #ebebeb;
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0px 2px rgb(197, 197, 197);
        &:hover{
            background-color: #d8d8d8
        }
    }
}

.hidden {
    display: none;
}