body{
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body{
    margin: 0
}



.product-index{
    margin: 100px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card{
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 10px;
}