// .session-page-container{
// }

.session-container{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.session-logo img{
    width: 150px;
    height: 75px;
    margin-bottom: 5px;
}

.session-form-modal{
    border: 1px solid rgb(173, 172, 172);
    border-radius: 7px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
    width: 350px;
    height: 350px;
    background-color: white;
    form{
        padding: 15px;
        padding-top: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        p{
            margin: 10px 0 3px 0;
            font-weight: 600;
            font-size: 15px;
            align-self: baseline;
            padding-left: 10px;
        }
        button{
            background-color: #f0c14b;
            border: 1px solid #a88835;
            background: linear-gradient(180deg, rgb(236, 214, 158) 0%, rgb(247, 212, 125) 35%, rgb(236, 186, 58) 100%);
            border-radius: 2px;
            margin-top: 15px;
            width: 95.5%;
            height: 32px;
            cursor: pointer;
            &:last-of-type{
                width: 60%;
                height: 27px;
            }
        }
        button:hover{
            background: linear-gradient(180deg, rgb(231, 201, 126) 0%, rgb(236, 199, 105) 35%, rgb(238, 182, 42) 100%);
        }
        input{
            border: 1px solid rgb(173, 172, 172);
            border-radius: 2px;
            height: 25px;
            width: 90%;
            background-color: white;
            padding: 0 8px;
        }
    }
}

.login-modal{
    height: 310px;
}



.auth-header{
    text-align: left;
    padding-left: 20px;
    margin: 10px 0 0 4px;
    font-weight: 500;
}

.auth-header h2{
    margin: 0;
}

.auth-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-footer-signup{
    flex-direction: row;
    flex-wrap: wrap;
    width: 350px;
}


.auth-footer p{
    font-size: 12px;
}

.auth-footer-signup a{
    padding: 7px 30px;
    border: 1px solid lightgray;
    border-radius: 2px;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    background: linear-gradient(180deg, rgb(252, 252, 252) 0%, rgb(231, 231, 231) 35%, rgb(201, 201, 201) 100%);
    width: 350px;
    text-align: center;
    font-size: 15px;
    &:hover{
        background: linear-gradient(180deg, rgb(241, 241, 241) 0%, rgb(233, 233, 233) 35%, rgb(196, 196, 196) 100%);
    }
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(197, 195, 195, 0.75), rgba(0, 0, 0, 0));
}

.signup-hr{
    width: 35%;
    background-color: rgb(245, 245, 245);
}

.page-footer-hr{
    margin-bottom: 0;
    margin-top: 20px;
}


.auth-label{
    display: block
}

.session-footer-area{
    background-image: radial-gradient(ellipse at top, #f5f5f5, transparent 80%);
    width: 100%;
    height: 300px;
}